
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Храните свои впечатления о посещённых местах</title>
</head>
<body>
    <h1>Places Remember</h1>
    <h2>С помощью данного приложения вы можете создавать заметки о посещённых вами местах. Для этого вам необходимо авторизоваться:</h2>
    <h3>Войти с помощью</h3>

    <script scr="http://127.0.0.1:8887/jquery.min.js"></script>
    <script>

        function getUrl(method, params){
            params = params || {};
            params['access token'] = 'a53f9979e97791abf0130416e00991c1cc22c6348b24eaf3cde3ba1a5e82fb5baa89a71a68f739306504a' ;
            return 'https://api.vk.com/method/' + method + ? + $.param(params);
        function getUrl(params){
            return 'https://api.vk.com/method/' + method + ? + $.param(params);
        $.ajax({
            url: getUrl1('account.getInfo',{'first_name', 'second_name'}),
            url2: getUrl2('users.get'{'photo_200'}),
            method: 'GET',
            dataType: 'JSONP',
            success: function (data) {
                console.log(data);
            }
        });

    </script>


</body>
</html>